* {
  box-sizing: border-box;
}

:root {
  --primary: #1abc9c;
  --secondary: #2c3e50;
  --font-size: 1vw;
  --font-weight: 400;
  --line-height: 1.25;
}

Main {
  margin: 0rem auto;
  padding: 0rem;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  font-weight: var(--font-weight);
  color: white;
  background: var(--primary);
}

.toolbox-btn:hover {
  border-color: var(--secondary);
  color: var(--secondary);
  cursor: pointer;
}

@media (min-width: 1024px) {
  .footer-link-container {
    position: absolute;
    right: 2.5vw
  }
}

/* .footer-link-icon {
  padding: 0.25rem 0.5rem;
  font-size: 1.5rem;
  border: 0.1rem solid white;
  border-radius: 0.6rem;
  color: white;
}
@media (min-width: 768px) {
  .footer-link-icon {
    font-size: 1.75rem;
  }
}
@media (min-width: 1024px) {
  .footer-link-icon {
    font-size: 2rem;
  }
}
 */
.footer-icon:hover {
  fill: var(--primary);
}

/* .fa-square-h {
  font-size: 2.25rem;
  color: var(--primary);
}
@media (min-width: 375px) {
  .fa-square-h {
    font-size: 2.5rem;
  }
}
@media (min-width: 425px) {
  .fa-square-h {
    font-size: 2.75rem;
  }
}
@media (min-width: 768px) {
  .fa-square-h {
    font-size: 3rem;
  }
}
@media (min-width: 1024px) {
  .fa-square-h {
    font-size: 3.25rem;
  }
}
@media (min-width: 1440px) {
  .fa-square-h {
    font-size: 3.5rem;
  }
}
@media (min-width: 1620px) {
  .fa-square-h {
    font-size: 3.75rem;
  }
} */

.work-sample-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.25s ease-in-out;
  opacity: 1;
  background: var(--primary);
  border: 0.35rem solid white;
  border-radius: 0.35rem;
}

.work-sample-img:hover {
  opacity: 0;
  background-color: transparent;
}